<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualizations</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 flex justify-center items-center min-h-screen">

    <div class="text-center space-y-8">
        <h1 class="text-4xl font-bold text-blue-600">Welcome to Data Visualizations</h1>
        <div class="space-x-4">
            <a href="/total_cases" class="hover:bg-blue-500 hover:text-white px-6 py-3 rounded-xl bg-blue-200 text-xl transition duration-300">Number of Total Cases Data</a>
            <a href="/death_cases" class="hover:bg-red-500 hover:text-white px-6 py-3 rounded-xl bg-red-200 text-xl transition duration-300">Death Cases Data</a>
        </div>
    </div>

</body>
</html>
